/.fleet
/.idea
/.vscode
/_temp_data
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/livewire-tmp
/storage/logs
/vendor
/lang_
.env
.env.backup
.env.production
.env.*.local
.phpunit.result.cache
.cursorignore
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.log
*.pem
*.cache
.DS_Store
Thumbs.db
